 #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; 
  text-align: center; 
}

.sidebar {
  width: 20% !important;
  padding: 20px !important;
}

.content {
  width: 80% !important;
  /* text-align: center; */
}